@import "./reset.css";
@import "./status-bar.css";
@import "/css/variable.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.welcome-header__title {
  font-size: 28px;
}

.welcome-header__text:nth-child(2) {
  margin: 30px 0px 7px 0px;
  font-size: 19px;
  opacity: 0.45;
}

.welcome-header__text:last-child {
  margin: 0px 0px 50px 0px;
  font-size: 19px;
  opacity: 0.45;
}

/* login-form */
.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
}

.login-form input:first-child,
.login-form input:nth-child(2) {
  padding: 25px 0px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-form input:first-child:focus,
.login-form input:nth-child(2):focus {
  border-color: var(--yellow);
  transition: border-color 0.3s ease-in-out;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.login-form input:nth-child(3),
.login-form input:nth-child(4) {
  padding: 20px 0px;
  font-size: 18px;
  border: none;
  background-color: rgb(240, 240, 240);
}

.login-form input:nth-child(3) {
  margin: 45px 0px 14px 0px;
}

.login-form input:nth-child(4) {
  margin-bottom: 23px;
}

.login-form a {
  text-align: center;
}

.login-form input:focus {
  outline: none;
}

.login-form a:focus,
.login-form a:hover {
  outline: none;
  color: tomato;
  transition: color 0.3s ease-in-out;
}

.login-form input:nth-child(3):hover,
.login-form input:nth-child(3):focus,
.login-form input:nth-child(4):hover,
.login-form input:nth-child(4):focus {
  background-color: var(--yellow);
  opacity: 1;
  transition: background-color 0.3s ease-in-out;
}
