.find-icons {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  margin-bottom: 30px;
}

.find-icons__icon:nth-child(2) i {
  margin-bottom: 20px;
}

.find-icons__icon:nth-child(2) > span {
  margin-bottom: 5px;
}

.recommended-friends {
  margin-top: 45px;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 0px;
  margin-bottom: 20px;
}

.recommended-friends span {
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 100px 0px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}

.open-chat__header span {
  color: rgba(0, 0, 0, 0.3);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-size: 18px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  margin: 10px 0px;
}

.open-post__members {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
}

.open-post__members img {
  margin-right: 5px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0px 5px;
}

.open-post__members img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.open-post__members-status {
  color: #ffb0e0;
}

.open-post__photo img {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  z-index: 0;
}

.open-post__photo {
  position: relative;
}

.open-post__heart {
  background-color: rgba(255, 255, 255, 0.8);
  color: red;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 12px;
  right: 10px;
  font-size: 13px;
  padding: 5px 7px;
  border-radius: 12px;
}

.open-post__heart i {
  margin-right: 5px;
}
