#friends-display-link {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #fafafa;
  padding: 18px 0px;
  font-size: 18px;
  margin-bottom: 15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.15);
}

#friends-display-link span {
  margin: 0px 12px 0px 8px;
}

.friends__screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.4);
}
