.alt-header {
  display: flex;
  justify-content: center;
  padding: 60px 22px 20px 22px;
  align-items: center;
  margin-bottom: 15px;
}

.alt-header__title {
  font-size: 30px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

/* .alt-header__column:first-child {
  margin-right: auto;
} */

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  /* margin-left: auto; */
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
  /* margin: auto; */
}
