.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px;
  position: fixed;
  bottom: 100;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}

/* .status-bar__column {
  width: 33%;
} */

.status-bar:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: auto;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column:last-child span {
  margin: 0px 5px;
}
